<section id="about" class="about-section">
    <div class="about-cover">
        <img src="../../assets/images/bg-home.jpg" width="100%" alt="" class="img-resonsive">
        <h3 class="abt-text-heading text-heading">About Us </h3>
        </div>
  
 </section>
    
 <section id="AboutOurCompany" class="t-margin">
    <div class="about-our-company-wrapper ">
      <h2 class="heading">About Our Company
      </h2>
      <p class="company-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus asperiores deleniti fuga deserunt nobis rem natus nihil illo architecto velit, reprehenderit consectetur eum labore, numquam minus vel quos, quia error Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, fugit veniam! Similique itaque asperiores reiciendis magni maiores explicabo neque ipsa, expedita architecto accusamus laudantium sed rerum delectus adipisci <span class="remove-text">nihil ex?Lorem ipsum dolor sit amet consectetur adipisicing elit. In similique repudiandae a, deleniti ab voluptatibus rem. Delectus iusto error laudantium ipsam, quas, autem nisi id, culpa sed dignissimos quisquam. Ratione!</span>.</p>
    </div>
  </section>



  <section id="team">
    <h2 class="heading">Our Team</h2>
        <div class="container">
            <owl-carousel-o [options]="TeamOptions">
  
                <ng-template carouselSlide>
            <div class="team-members">
                <div class="team-member">
                    <img src="../../assets/images/team/team-1.jpg" alt="Team-Member1" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h4 class="team-member-name">Daniel Watrous</h4>
                        <h4 class="team-member-designation">Java Developer</h4>
                      
                    </div>
                    <!-- .team-member-info  -->
                </div> <!-- .team-member  --> 
            </div>
        </ng-template>  

            <ng-template carouselSlide>
            <div class="team-members">
                <div class="team-member">
                    <img src="../../assets/images/team/team-2.jpg" alt="Team-Member2" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h4 class="team-member-name">Daniel Watrous</h4>
                        <h4 class="team-member-designation">Web Developer</h4>
                        
                    </div>
                    <!-- .team-member-info  -->
                </div> <!-- .team-member  --> 
            </div>
        </ng-template>
            <ng-template carouselSlide>
            <div class="team-members">
                <div class="team-member">
                    <img src="../../assets/images/team/team-3.jpg" alt="Team-Member1" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h4 class="team-member-name">Daniel Watrous</h4>
                        <h4 class="team-member-designation">UI/UX Designer</h4>
                        
                    </div>
                    <!-- .team-member-info  -->
                </div> <!-- .team-member  --> 
            </div>
        </ng-template>
        
        <ng-template carouselSlide>
            <div class="team-members">
                <div class="team-member">
                    <img src="../../assets/images/team/team-5.jpg" alt="Team-Member1" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h4 class="team-member-name">Daniel Watrous</h4>
                        <h4 class="team-member-designation">Java Developer</h4>
                       
                    </div>
                    <!-- .team-member-info  -->
                </div> <!-- .team-member  --> 
            </div>
        </ng-template>  
    </owl-carousel-o>
         </div>
</section>
<footer class="t-margin">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:orange">
      © 2020 Copyright:
      <a class="text-white" href="#">AngularDevelopers.com</a>
    </div>
    <!-- Copyright -->
  </footer>