
   
   <!--
        <div *ngFor="let que of questionService.qns">
        <p>{{allQuestions}}</p>
    </div>
    <button type="button" onclick=" getAllQuestionBySL(1,2)">next</button>

    <h1>hi</h1>
    <div *ngFor="let que of questionService.qns1">
        {{question}}
        <h1>hello</h1>

    </div>
   -->
        
    <!--
<div *ngFor="let que of allQuestions">
        <p>{{que.question}} </p> 
        <p>{{que.option1}}</p>
        <p>{{que.option2}}</p>
        <p>{{que.option3}}</p>
        <p>{{que.option4}}</p>
        <p>{{que.myexam}}</p>
        <p>{{que.answer}}</p>
     </div>
     <div *ngFor="let tque of tempQuestions">
         <p>{{tque.questionId}}</p>
         <p>{{tque}}</p>

     </div>
    <input type="text" value="subjectId">subject
    <input type="text" value="examId">level
    -->
    
<!--
<div class="select">
        <select id="sub-select" #subject>
    
            <option value="">Subjects</option>
        
            <option value="1">java</option>
        
            <option value="2">python</option>
        
            <option value="3">C#/.net</option>
        
            <option value="4">php</option>
        
            <option value="5">sql</option>
        
            <option value="6">c/c++</option>
        
        </select>
    </div>
    <form>
        <div class="container " *ngIf="allQuestions && allQuestions.length">
          <div class="wrapper"  *ngFor="let que of allQuestions">
            <div class="row " >
                <div class="col-md-10 col-space">
                  <p class="question"> {{que.question}}</p>
                </div>
              </div>
            <div class="row">
              <div class="col-md-4 col-space">
                
               <input type="radio" id="op1" name="op" value="op1">
               <label for="op1" style="padding: 15px;"> {{que.option1}} </label>
              </div>
              <div class="col-md-4 col-space">
                
               <input type="radio" id="op2" name="op" value="op2">
               <label for="op2"  style="padding: 15px;">{{que.option2}} </label>
              </div>
            </div>
            <div class="row" >
                <div class="col-md-4 col-space">
                   
                    <input type="radio" id="op3" name="op" value="op3">
                    <label for="op3"  style="padding: 15px;">{{que.option3}} </label>
                </div>
                <div class="col-md-4 col-space">
                   
                    <input type="radio" id="op4" name="op" value="op4">
                    <label for="op4"  style="padding: 15px;">{{que.option4}} </label>
                </div>
              </div>
        
              <div>
                <a class="btn btn-blue" style=" margin: 20px 40%; " (click)="get"> Next  </a>
              </div> 
        </div>
      </div>
      </form>
-->
    

<!--<form>
        <div class="container ">
            <div class="row " >
                <div class="col-md-10 col-space">
                  <p class="question"> this is a Subject question</p>
                </div>
                </div>
            <div class="row">
              <div class="col-md-4 col-space">
                
               <input type="radio" id="op1" name="op" value="op1">
               <label for="op1" style="padding: 15px;">Option 1 </label>
              </div>
              <div class="col-md-4 col-space">
                
               <input type="radio" id="op2" name="op" value="op2">
               <label for="op2"  style="padding: 15px;">Option 2 </label>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-space">
                   
                    <input type="radio" id="op3" name="op" value="op3">
                    <label for="op3"  style="padding: 15px;">Option 3 </label>
                </div>
                <div class="col-md-4 col-space">
                   
                    <input type="radio" id="op4" name="op" value="op4">
                    <label for="op4"  style="padding: 15px;">Option 4 </label>
                </div>
              </div>
        
              <div>
                <a class="btn btn-blue" style=" margin: 20px 40%; " > Next  </a>
              </div>
        </div>
      </form>-->
    
      <!-- <div *ngFor="let i=index">
        <p>{{questionNumber}}. {{allQuestions[questionNumber].question}}</p>
      
        <input type="radio"  [name]="i" value="option1"  >>{{allQuestions[questionNumber].option1}}
        <input type="radio" [name]="i" value="option2" >{{allQuestions[questionNumber].option2}}
        <input type="radio"  [name]="i" value="option3" >{{allQuestions[questionNumber].option3}}
        <input type="radio"  [name]="i"value="option4" >{{allQuestions[questionNumber].option4}}  

     
      <button *ngIf="questionNumber!=0" class="button" value="prev" (click)="prevQues()">Previous</button>
      <button *ngIf="allQuestions.length-1>questionNumber" class="button" value="next" (click)="nextQues()">Next</button>
      </div> -->

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-blue" type="submit" (click)="submit()">Submit test</button>
          </div>
        </div>
      </div>
      <form>
        <p>{{questionNumber+1}}. {{allQuestions[questionNumber].question}}</p>
  
          <input type="radio"  [name]="allQuestions[questionNumber].question" value="Option1" [(ngModel)]="userResponse[questionNumber].userAnswer"  >
          <label for="op3"  style="padding: 15px;">{{allQuestions[questionNumber].option1}} </label><br>

          <input type="radio"  [name]="allQuestions[questionNumber].question" value="Option2" [(ngModel)]="userResponse[questionNumber].userAnswer">
          <label for="op3"  style="padding: 15px;">{{allQuestions[questionNumber].option2}} </label><br>

          <input type="radio"  [name]="allQuestions[questionNumber].question" value="Option3" [(ngModel)]="userResponse[questionNumber].userAnswer">
          <label for="op3"  style="padding: 15px;">{{allQuestions[questionNumber].option3}} </label><br>

          <input type="radio"  [name]="allQuestions[questionNumber].question" value="Option4" [(ngModel)]="userResponse[questionNumber].userAnswer">  
          <label for="op3"  style="padding: 15px;">{{allQuestions[questionNumber].option4}} </label><br>

          <button class="btn btn-blue" *ngIf="questionNumber!=0"  value="prev" (click)="prevQues()">Previous</button>
      <button class="btn btn-blue" *ngIf="allQuestions.length-1>questionNumber" value="next" (click)="nextQues()">Next</button>
      </form>
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-blue" type="submit" (click)="submit()">Submit test</button>
          </div>
        </div>
      </div>
      <form>
        <p>{{questionNumber+1}}. {{allQuestions[questionNumber].question}}</p>
  
          <input type="radio"  name ="questionNumber" [(ngModel)]="userResponse1.userAnswer"  >
          <label for="op3"  style="padding: 15px;">{{allQuestions[questionNumber].option1}} </label><br>

          <input type="radio"  name ="questionNumber"  [(ngModel)]="userResponse1.userAnswer">
          <label for="op3"  style="padding: 15px;">{{allQuestions[questionNumber].option2}} </label><br>

          <input type="radio"  name ="questionNumber"  [(ngModel)]="userResponse1.userAnswer">
          <label for="op3"  style="padding: 15px;">{{allQuestions[questionNumber].option3}} </label><br>

          <input type="radio"  name ="questionNumber" [(ngModel)]="userResponse1.userAnswer">  
          <label for="op3"  style="padding: 15px;">{{allQuestions[questionNumber].option4}} </label><br>

          <button class="btn btn-blue" *ngIf="questionNumber!=0"  value="prev" (click)="prevQues()">Previous</button>
      <button class="btn btn-blue" *ngIf="allQuestions.length-1>questionNumber" value="next" (click)="nextQues()">Next</button>
      </form> -->
      

      
      <!--        <input type="radio"  [name]="questionNumber" value="allQuestions[questionNumber].option2" [(ngModel)]="userResponse[questionNumber].userAnswer">{{allQuestions[questionNumber].option2}}
-->
     <!--allQuestions[questionNumber].option1-->


     <!-- <input type="radio"  [name]="allQuestions[questionNumber].question" value="option1" [(ngModel)]="allQuestions[questionNumber].answer" >{{allQuestions[questionNumber].option1}}
        <input type="radio"  [name]="allQuestions[questionNumber].question" value="option2" [(ngModel)]="allQuestions[questionNumber].answer">{{allQuestions[questionNumber].option2}}
        <input type="radio"  [name]="allQuestions[questionNumber].question" value="option3" [(ngModel)]="allQuestions[questionNumber].answer">{{allQuestions[questionNumber].option3}}
        <input type="radio"  [name]="allQuestions[questionNumber].question" value="option4" [(ngModel)]="allQuestions[questionNumber].answer">{{allQuestions[questionNumber].option4}}  
-->
    <!--    <button (click)="getAllquestionBySubjectId(subject)"  type="button"> Next</button>
-->
   

<!--
<button type="submit" (click)="questionService.qns.getAllQuestionBySL(2,1)">Next</button>

-->



<!--
    <tr *ngFor="let emp of tempEmployees">
            <td>{{emp.employeeNumber}}</td>
            <td>{{emp.employeeName}}</td>
            <td>{{emp.employeeSalary}}</td>
            <td>
                <button type="button" (click)="deleteEmployee(emp.employeeNumber)">Delete</button>
            </td>
-->
