<div class="sublist-wrapper">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <div class="square">
                        <div class="content">
                            <p>JAVA</p><br>
                            <button class="btn btn-blue" value="1"  (click)="startTest(1)" >Start Test</button>
                        </div>
                        </div>
                </div>

                <div class="col-md-4">
                    <div class="square">
                        <div class="content">
                            <p>SQL</p><br>
                            <button class="btn btn-blue" value="2"  (click)="startTest(2)">Start Test</button>
                        </div>
                        </div>
                </div>

                <div class="col-md-4">
                    <div class="square">
                        <div class="content">
                            <p>C/C++</p><br>
                            <button class="btn btn-blue" value="3"  (click)="startTest(3)">Start Test</button>
                        </div>
                        </div>
                    </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="square">
                    <div class="content">
                        <p>PHP</p><br>
                        <button class="btn btn-blue" value="4"  (click)="startTest(4)" >Start Test</button>
                    </div>
                    </div>
            </div>

            <div class="col-md-4">
                <div class="square">
                    <div class="content">
                        <p>Python</p><br>
                        <button class="btn btn-blue" value="5"  (click)="startTest(5)">Start Test</button>
                    </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="square">
                    <div class="content">
                        <p>C#/.NET</p><br>
                        <button class="btn btn-blue" value="6"  (click)="startTest(6)" >Start Test</button>
                    </div>
                    </div>
            </div>
            

       
        </div>
    </div>
</div>