<div class="instruction-wrapper">
    <div class="container">
        <div class="row col-md-10">
            <h1 align = 'center'>Test Instructions</h1>
            <h3 align = 'center'>Please read the Instructions carefully!</h3>
    
    
    <h3 class="content" align = 'centre'>
        1.Each question carries 1 mark.<br>
        2.Choose single option for every question.<br>
        3.Time for the test is 10 minutes.<br>
    </h3>
    
    
    <h3 class="content" align = 'centre'> All the best!!</h3>
    <div>
        <button class="btn btn-blue" value="java" (click)="startTestClick()">Start Test</button>
    </div>
    
        </div>
    </div>
</div>