<!-- HOME LANDING PAGE -->

<section id="home">
    <div class="home-wrapper ">
    <owl-carousel-o [options]="customOptions">
    
      <ng-template carouselSlide>
      <div class="image-cover">
  
        <img src="../../assets/images/final.jpg" alt="one" class="img-responsive">
        <div class="home-overlay">
  
          <div class="img-info">
            <span class="small-underline"></span><span class="underline-text">Exam &#39; 21</span>
            <h1 class="big-white-text"><span class="big-org-text">your bright future </span> <br>is our mission</h1>
            <p class="home-para-text">Lorem ipsum dolor sit amet, consectetur adipint, expedita ab fuga ut sit accusantium veniam, tenetur vitae, unde laboriosam.</p>
          
          </div>
        </div>
      </div>
    </ng-template>
  
    <ng-template carouselSlide>
      <div class="image-cover">
        <img src="../../assets/images/final.jpg" alt="two" class="img-responsive">
        <div class="home-overlay">
  
          <div class="img-info">
            <span class="small-underline"></span><span class="underline-text">Exam &#39; 21</span>
  
            <h1 class="big-white-text"><span class="big-org-text">Changing lives</span> <br>and giving choices </h1>
            <p class="home-para-text">Lorem ipsum dolor sit amet, consectetur adipint, expedita ab fuga ut sit accusantium veniam, tenetur vitae, unde laboriosam.</p>
          
          </div>
        </div>
      </div>
    </ng-template>
  
    <ng-template carouselSlide>
      <div class="image-cover">
        <img src="../../assets/images/final.jpg" alt="three" class="img-responsive">
        <div class="home-overlay">
  
          <div class="img-info">
            <span class="small-underline"></span><span class="underline-text">Exam &#39; 21</span>
  
            <h1 class="big-white-text"><span class="big-org-text">Learn with passion</span> <br>to live with purpose</h1>
            <p class="home-para-text">Lorem ipsum dolor sit amet, consectetur adipint, expedita ab fuga ut sit accusantium veniam, tenetur vitae, unde laboriosam.</p>
           
          </div>
        </div>
      </div>
    </ng-template>
  
  </owl-carousel-o>
  </div>
  </section>
  
  <section id="ourGoals" class="t-margin">
    <div class="goals-wrapper ">
      <h2 class="heading">Our Goals
      </h2>
      <p class="goals-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus asperiores deleniti fuga deserunt nobis rem natus nihil illo architecto velit, reprehenderit consectetur eum labore, numquam minus vel quos, quia error Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, fugit veniam! Similique itaque asperiores reiciendis magni maiores explicabo neque ipsa, expedita architecto accusamus laudantium sed rerum delectus adipisci <span class="remove-text">nihil ex?Lorem ipsum dolor sit amet consectetur adipisicing elit. In similique repudiandae a, deleniti ab voluptatibus rem. Delectus iusto error laudantium ipsam, quas, autem nisi id, culpa sed dignissimos quisquam. Ratione!</span>.</p>
    </div>
  </section>
  
  <section class="skills t-margin">
    <div class="skills-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="heading">Test Your Skills In</h1>
            <!-- <div class="row"> -->
              <owl-carousel-o [options]="SubjectOptions">
                <ng-template carouselSlide>
              <!-- <div class="col-md-4"> -->
                <div class="subjects-list-wrapper">
                  <p class="subject-name ">Java</p>
                </div>
              <!-- </div> -->
            </ng-template>
  
            <ng-template carouselSlide>
              <!-- <div class="col-md-4"> -->
                <div class="subjects-list-wrapper">
                  <p class="subject-name">Database</p>
                </div>
              <!-- </div> -->
            </ng-template>
    
              <ng-template carouselSlide>
              <!-- <div class="col-md-4"> -->
                <div class="subjects-list-wrapper">
                  <p class="subject-name">Python</p>
                </div>
              <!-- </div> -->
          </ng-template>
  
          <ng-template carouselSlide>
            <!-- <div class="col-md-4"> -->
              <div class="subjects-list-wrapper">
                <p class="subject-name">Spring</p>
              </div>
            <!-- </div> -->
        </ng-template>
        </owl-carousel-o>
      <!-- </div> -->
            
              <!-- <div ng-repeat="product in products">
                  <div class="clearfix" ng-if="$index % 3 == 0"></div>
                  <div class="col-md-4">
                    <p class="subject-name">Python</p>
                    <p class="subject-name">Python</p>
                    <p class="subject-name">Python</p>
                       <h2>{{product.title}}</h2> 
                  </div>
              </div>
          -->
  
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <footer class="t-margin">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:orange">
      © 2020 Copyright:
      <a class="text-white" href="#">AngularDevelopers.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  
  
  <br><br>
  
  
  \